<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Contact Us</h1>
      <h2>TODO: Need to complete contact form</h2>
      <p>Email:</p>
      <p>Message</p>
      <button>Send Message</button>
    </div>
  </div>
</div>