<%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="control-label col-md-2">
      <%= f.label :first_name %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-md-2">
      <%= f.label :last_name %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
  </div>  
  <div class="form-group">
    <div class="control-label col-md-2">
      <%= f.label :email %>
    </div>
    <div class="col-md-8">
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-md-2">
      <%= f.label :role_id %>
    </div>
    <div class="col-md-8">
      <%= collection_select(:user, :role_id, Role.all, :id, :name, { prompt: true }, class: 'form-control') %>
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-md-2">
      <%= f.label :password %>
    </div>
    <div class="col-md-8">
      <%= f.password_field :password, class: 'form-control', placeholder: "Leave blank if unchanged" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-8">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>