<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%= render 'form' %>
      <strong><%= link_to 'Show', @user %></strong> |
      <strong><%= link_to 'Back', users_path %></strong>      
    </div>
  </div>
</div>