<div class="container">
  <div class="row">
    <div class="table-responsive col-md-10">
      <h2>Users</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.first_name, user %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.role.name %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      
      <a href="#">Invite new user</a>
    </div>
  </div>
</div>