<div class="container">
  <div class="row">
    <div class="col-md-10">
      <p>
        <strong>First Name:</strong>
        <%= @user.first_name %>
      </p>
      <p>
        <strong>Last Name:</strong>
        <%= @user.last_name %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
      <p>
        <strong>Role:</strong>
        <%= @user.role.name %>
      </p>
            
      <p>
        <strong>Joined on:</strong>
        <%= @joined_on %>
      </p>
      <p>
        <strong>Last logged in on:</strong>
        <%= @last_login %>
      </p>
      <p>
        <strong>No. times logged in:</strong>
        <%= @user.sign_in_count %>
      </p>      
      
      <strong><%= link_to 'Edit', edit_user_path(@user) %></strong> | 
      <strong><%= link_to 'Back', users_path %></strong>
    </div>
  </div>
</div>