<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>Edit Role</h2>
      <%= render 'form' %>
      <strong><%= link_to 'Show', @role %></strong> |
      <strong><%= link_to 'Back', roles_path %></strong>
    </div>
  </div>
</div>