<div class="container">
  <div class="row">
    <div class="table-responsive col-md-10">
      <h2>Roles</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @roles.each do |role| %>
          <tr>
            <td><%= link_to role.name, role %></td>
            <td><%= role.description %></td>
            <td><%= link_to 'Edit', edit_role_path(role) %></td>
            <td><%= link_to 'Delete', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      
      <%= link_to 'New Role', new_role_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>