<div class="container">
  <div class="row">
    <div class="col-md-10">
      <p>
        <strong>Name:</strong>
        <%= @role.name %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @role.description %>
      </p>
      
      <hr/>
      
      <p>
        <strong>Assosciated users:</strong>
        <%= @assosciated_users %>
      </p>
      
      <strong><%= link_to 'Edit', edit_role_path(@role) %></strong> | 
      <strong><%= link_to 'Back', roles_path %></strong>
    </div>
  </div>
</div>