// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 3.5rem;
}

#main-jumbotron {
  color: white;
  height: 100vh;
  background-image: image-url('jumbotron-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
